
@{
    ViewBag.Title = "Edit";
    _4S.Model.T_Base_CarPartSales lst = ViewBag.model;
}

<div class="row">
    <div class="col-md-12">
        <h1>编辑配件销售订单</h1>
    </div>
</div>
<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead">
                            Click "Validate" below to see the validation in action
                        </p>
                        <form action="" id="formAdd">
                            <div class="form-group">
                                <label for="CarPartId" class="active">配件Id</label>
                                <input type="hidden" name="Id" value=@lst.Id>
                                <input type="text" class="form-control" name="CarPartId" id="CarPartId" value="@lst.CarPartId" data-validation="length alphanumeric"
                                       data-validation-length="3-12"
                                       data-validation-error-msg="Username has to be an alphanumeric value (3-12 chars)" placeholder="CarId">
                            </div>
                            <div class="form-group">
                                <label for="Amount" class="active">数量</label>
                                <input type="text" class="form-control" id="Amount" name="Amount" value="@lst.Amount" data-validation="strength" placeholder="Amount">
                            </div>

                            <div class="form-group mb-3">
                                <label for="hour-field">时间</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend-1">
                                            <i class="batch-icon batch-icon-clock"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="date form-control" name="Dtime" id="hour-field" value="@lst.Dtime" placeholder="YYYY/MM/DD">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="UserId" class="active">用户Id</label>
                                <input type="text" class="form-control" id="UserId" name="UserId" value="@lst.UserId" data-validation="strength" placeholder="UserId">
                            </div>
                            <div class="form-group">
                                <label for="Seller" class="active">销售员</label>
                                <input type="text" class="form-control" name="Seller" id="Seller" value="@lst.Seller" placeholder="DealPerson">
                            </div>
                            <button id="validate" type="button" class="btn btn-primary" onclick="EditSave()">Validate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-md-12">
        <footer>
            Powered by - <a href="http://base5builder.com/?click_source=quillpro_footer_link" target="_blank" style="font-weight:300;color:#ffffff;background:#1d1d1d;padding:0 3px;">Base<span style="color:#ffa733;font-weight:bold">5</span>Builder</a>
        </footer>
    </div>
</div>

<script type="text/javascript">
    function serializeObject(form) {
        var o = {};
        var a = $(form).serializeArray();
        $.each(a, function () {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    function EditSave() {
        //序列化form
        var data = serializeObject("#formAdd");
        $.ajax({

            type: "post",

            dataType: "json",

            url: "/T_Base_CarPartSales/editsave",

            data: JSON.stringify(data),

            contentType: "application/json;charset=utf-8",

            success: function (result) {
                if (result.code == 1) {
                    alert(result.message);
                    window.location.href = "List";
                    //self.parent.x_tab_reload("T_Base_Book_List");
                    //self.parent.x_tab_delete("addbook");
                    //self.parent.x_tab_reload("T_Base_Book_List");

                    //处理
                } else {
                    alert(result.message);
                    //处理错误
                }

            },
            error: function (msg) {
                alert('通讯失败');
            }
        });
    }
</script>

